@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .neon-green {
    color: #39ff14;
  }
  
  .neon-border {
    border-color: #39ff14;
    box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, inset 0 0 5px #39ff14;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
}

.neon-border:hover {
  box-shadow:
    0 0 8px #39ff14,
    0 0 16px #39ff14,
    0 0 32px #39ff14;
  transform: scale(1.03);
}
